@tailwind base;
@tailwind components;
@tailwind utilities;


.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    @apply font-semibold
}

.prose h1 {
    @apply text-5xl md:text-6xl mb-2 dark:text-gray-100
}

.prose h2 {
    @apply text-2xl md:text-3xl mt-5 mb-2 dark:text-gray-200
}

.prose h3 {
    @apply text-xl md:text-2xl mt-4 mb-1 dark:text-gray-200
}

.prose p, .prose ul {
    @apply md:text-lg
}

.prose p + p {
    @apply mt-2
}

.prose a {
    @apply underline text-blue-600 hover:text-blue-900 dark:text-blue-300 dark:hover:text-blue-500
}

.prose ul {
    @apply list-inside list-disc pl-4
}

.prose .codehilite {
    @apply p-2 rounded shadow overflow-auto mt-2 mb-2
}

.prose .codehilite + .codehilite {
    @apply mt-4
}

.prose > p > code {
    @apply bg-pygmentLight dark:bg-pygmentDark dark:text-pygmentTextLight py-0.5 px-1 rounded
}